services:
  # Map handler service
  mapgen:
    image: ghcr.io/marekvonrogall/mapgen/mapgen:latest
    environment:
      - MAPGEN_PORT=5001
      - IMGGEN_URL=http://imggen:5000
    ports:
      - "5001:5001"
    networks:
      - bingo-net

  # Image generation service
  imggen:
    image: ghcr.io/marekvonrogall/mapgen/imggen:latest
    environment:
      - IMGGEN_PORT=5000
    networks:
      - bingo-net
    volumes:
      - imggen-public:/app/public

  # NGINX API Gateway
  nginx:
    image: nginx:alpine-slim
    ports:
      - "80:80"
      - "443:443"
    networks:
      - bingo-net
    depends_on:
      - mapgen
      - imggen
    volumes:
      - imggen-public:/app/public
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro

volumes:
  imggen-public:
networks:
  bingo-net:
