services:
  # Map handler service
  mapgen:
    build:
      context: src/mapgen
    environment:
      - MAPGEN_PORT=5001
      - IMGGEN_URL=http://imggen:5000
    ports:
      - "5001:5001"
    networks:
      - bingo-net

  # Image generation service
  imggen:
    build:
      context: src/imggen
    environment:
      - IMGGEN_PORT=5000
    networks:
      - bingo-net
    volumes:
      - imggen-public:/app/public

  # NGINX API Gateway
  nginx:
    build:
      context: ./src/nginx
    ports:
      - "8080:80"
    networks:
      - bingo-net
    depends_on:
      - mapgen
      - imggen
    volumes:
      - imggen-public:/app/public

volumes:
  imggen-public:
networks:
  bingo-net: