services:
  # Map handler service
  mapgen:
    build:
      context: src/mapgen
    environment:
      - MAPGEN_PORT=5001
    ports:
      - "5001:5001"
    networks:
      - localnet

  # Image generation service
  imggen:
    build:
      context: src/imggen
    environment:
      - IMGGEN_PORT=5000
    ports:
      - "5000:5000"
    networks:
      - localnet
    volumes:
      - imggen-public:/app/public

  # NGINX API Gateway
  nginx:
    build:
      context: ./src/nginx
    networks:
      - localnet
    ports:
      - "8080:80"
    depends_on:
      - mapgen
      - imggen
    volumes:
      - imggen-public:/app/public

volumes:
  imggen-public:
networks:
  localnet: