services:
  # Map handler service
  mapgen:
    build:
      context: src/mapgen
    image: ghcr.io/${IMAGE_NAME}/mapgen:latest

  # Image generation service
  imggen:
    build:
      context: src/imggen
    image: ghcr.io/${IMAGE_NAME}/imggen:latest
